rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Regole per la collezione menu
    match /menu/{document} {
      allow read, write: if request.auth != null;
    }
    
    // Regole per la collezione menu compositi
    match /menuCompositi/{document} {
      allow read, write: if request.auth != null;
    }
    
    // Regole per la collezione users
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Regole per altre collezioni future
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
